:root {
  /* COLORS */
  --dark-purple: hsl(273, 85%, 13%);
  --light-green: hsl(150, 100%, 63%);
  --davy-grey: hsl(271, 12%, 34%);
  --ghost-white: hsl(274, 100%, 99%);
  --color-white: hsl(0, 0%, 100%);

  /* FONT FAMILY */
  --font-fraunces: 'Fraunces', serif;
  --font-manrope: 'Manrope', sans-serif;
}

body {
  font-family: var(--font-manrope);
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}

.header {
  background-color: var(--dark-purple);
  color: var(--color-white);
  height: 481px;
  border-radius: 10% 10% 50% 50% / 0% 0% 8% 8%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 32px;
}

.pattern-1,
.pattern-2 {
  display: none;
}

.logo {
  width: 94px;
  height: 24px;
}

.btn {
  display: inline-block;
  border: none;
}

.btn-secondary {
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  color: var(--color-white);
  border-bottom: 2px solid var(--light-green);
  line-height: 32px;
  letter-spacing: -0.16px;
}

.btn-secondary:hover {
  color: var(--light-green);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-caption {
  max-width: 343px;
  font-family: var(--font-fraunces);
  font-size: 3.125rem;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  margin-block-start: 64px;
}

.btn-primary {
  font-size: 1rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.16px;
  background-color: var(--light-green);
  margin-block-start: 40px;
  margin-block-end: 62px;
  text-align: center;
  padding-block: 12px;
  padding-inline: 24px;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: transparent;
  color: var(--light-green);
  border: 1px solid var(--light-green);
}

.hero-image {
  width: 292px;
  height: 168px;
  background-color: transparent;
}

.main {
  background-color: var(--ghost-white);
  padding-block: 69px;
  border-radius: 50% 50% 50% 50% / 0% 0% 3% 3%;
}

.workit-benefits {
  list-style: none;
  counter-reset: item;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-block-start: 69px;
}

.workit-benefitItem {
  counter-increment: item;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.benefit-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  content: counter(item);
  color: var(--dark-purple);
  border: 1px solid var(--davy-grey);
  border-radius: 100%;
  margin-block-end: 24px;
}

.benefit-title {
  font-family: var(--font-fraunces);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 36px;
  color: var(--dark-purple);
  margin-block-end: 16px;
}

.benefit-description {
  text-align: center;
  font-family: var(--font-manrope);
  font-size: 1rem;
  color: var(--davy-grey);
  line-height: 28px;
}

.founder-section {
  margin-block-start: 100px;
}

.test-workit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workit-founder {
  width: 281px;
  height: 281px;
}

.founder-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-purple);
  color: var(--color-white);
  padding-block: 32px;
  padding-inline: 31px;
  position: relative;
  margin-block-start: -60px;
  z-index: 2;
}

.founder-intro h2,
.founder-intro p {
  text-align: center;
}

.founder-intro h2 {
  font-family: var(--font-fraunces);
  font-size: 2rem;
  font-weight: 600;
  line-height: 48px;
}

.founder-intro p {
  font-family: var(--font-manrope);
  font-size: 1rem;
  line-height: 28px;
}

.founder-intro button {
  margin-block-start: 24px;
  margin-block-end: 0;
}

.footer-container {
  padding-block-start: 74px;
  padding-block-end: 63.87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-workit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 116px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-block-start: 40px;
}

@media (min-width: 768px) {
  .header {
    height: 540px;
    border-radius: 10% 10% 50% 50% / 0% 0% 8% 8%;
  }

  .container {
    padding-inline: 39px;
  }

  .pattern-1 {
    display: block;
    left: -223px;
    position: absolute;
    top: 70px;
  }

  .pattern-2 {
    display: block;
    position: absolute;
    right: -80px;
    bottom: 180px;
  }

  .hero .hero-image {
    width: 479px;
    height: 286px;
  }

  .hero .hero-caption {
    max-width: 473px;
    font-size: 3.75rem;
    line-height: 60px;
    margin-block-start: 56px;
  }

  .workit-benefits {
    margin-block-start: 109px;
  }

  .workit-benefitItem {
    flex-direction: row;
    gap: 32px;
  }

  .benefit-info {
    max-width: 493px;
    text-align: left;
  }

  .benefit-description {
    text-align: left;
  }

  .test-workit {
    display: flex;
    /* flex-direction: row; */
    /* position: relative; */
  }

  .workit-founder {
    z-index: 1;
  }

  .founder-intro {
    /* z-index: 2; */
  }
}

@media (min-width: 1024px) {
  .container {
    padding-inline: 165px;
  }

  .header {
    height: 730px;
    border-radius: 10% 10% 50% 50% / 0% 0% 8% 8%;
  }

  .pattern-1 {
    left: -180px;
    top: 120px;
  }

  .pattern-2 {
    right: -80px;
    top: 300px;
  }

  .navbar .btn-secondary {
    font-size: 1.125rem;
  }

  .hero .hero-caption {
    max-width: 635px;
    font-size: 5rem;
    line-height: 80px;
    margin-block-start: 58px;
  }

  .hero .btn-primary {
    font-size: 1.125rem;
    letter-spacing: -0.18px;
    padding-block: 16px;
    padding-inline: 32px;
  }

  .hero .hero-image {
    width: 715px;
    height: 472px;
  }

  .workit-benefits {
    flex-direction: row;
    gap: 26px;
    margin-block-start: 69px;
  }

  .workit-benefitItem {
    flex-direction: column;
  }

  .benefit-info {
    max-width: 354px;
    text-align: center;
  }

  .benefit-description {
    text-align: center;
  }
}
